div.app {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	margin: 0 auto;
	color: #222;
	align-items: center;
	overflow: hidden;
}
main {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	flex-grow: 1;
	margin-bottom: 100px;
	width: 90%;
	max-width: 1200px;
	overflow: hidden;
}
.blog {
	width: 80%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
}
h3 {
	text-transform: none;
	font-size: 28px;
}
article:nth-child(2) h3,
article:nth-child(3) h3 {
	font-size: 22px;
}
article p {
	font-size: 18px;
}
article h1 {
	font-size: 28px;
}
@media (max-width: 300px) {
	main {
		margin: 0 0 50px 20px;
	}
}

@media (min-width: 720px) {
	main {
		display: flex;
		justify-content: space-around;
		flex-direction: row;
		flex-grow: 1;
		width: 90%;
		max-width: 1200px;
	}
	.blog {
		width: 50%;
	}
}
@media (min-width: 1080px) {
	h3 {
		font-size: 30px;
	}
	article:nth-child(2) h3,
	article:nth-child(3) h3 {
		font-size: 24px;
	}
	article p {
		font-size: 20px;
	}
	article h1 {
		font-size: 30px;
	}
	.blog {
		text-align: left;
	}
}
