div.app {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	margin: 0 auto;
	color: #222;
	align-items: center;
	overflow: hidden;
}
main {
	display: flex;
	justify-content: space-around;
	flex-grow: 1;
	padding: 30px 0;
	width: 90%;
	max-width: 1200px;
}

.navWrapper {
	position: fixed;
	left: -180px;
	min-width: 220px;
	height: auto;
	background-color: red;
	border: 2px solid #20123c;
	border-radius: 30px;
}
.navWrapper.show {
	left: 0;
}
.blog {
	width: 60%;
}

article:nth-child(1) {
	font-size: 30px;
}

@media (min-width: 720px) {
	.navWrapper {
		position: relative;
		left: auto;
	}
	main {
		display: flex;
		justify-content: space-around;
		flex-grow: 1;
		padding: 30px 0;
		width: 90%;
		max-width: 1200px;
	}
}
