footer {
	width: 100vw;
	background-color: #20123c;
	color: white;
	padding: 5px 0;
	text-align: center;
	-webkit-box-shadow: 0 -1px 5px #20123c;
	-moz-box-shadow: 0 -1px 5px #20123c;
	box-shadow: 0 -1px 5px #20123c;
}

footer .footerContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
}
footer .footerWrapper {
	display: flex;

	font-size: 12px;
	align-items: center;
}
footer .footerWrapper p {
	color: white;
	font-size: 14px;
	text-transform: none;
}
footer .footerWrapper i {
	margin: 0 5px;
}

footer p {
	text-transform: uppercase;
	font-size: 8px;
	color: #eeee;
}
