header {
	flex-basis: 40vh;
	position: relative;
	overflow: hidden;
	width: 100vw;
}

header img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	min-height: 100%;
}
@media (max-width: 500px) and (orientation: portrait) {
	header img {
		height: 100%;
		width: auto;
	}
}
@media (max-width: 500px) and (orientation: landscape) {
	header img {
		top: -100px;
	}
}
@media (min-width: 720px) {
	header img {
		top: -100px;
	}
}

@media (min-width: 1080px) {
	header img {
		top: -300px;
	}
}
